doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='nav-bar')
      a(href='/') Home
      a(href='/add-movie') Add movie
    div(class='content')
      block content
